body{
   background-color: #2c3e50;
}
.container{
display: flex;
justify-content: center;
align-items: center;
background-color: #1b9bff;
height: 900px;
width: 100%;
font-weight: 400;
font-size: 25px;
border: solid;
border-color: #fff;
}
h1{
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
}
h3{
    text-decoration-line: underline;
    color: #fff;
}

@media (max-width: 825px) {
    .mapa{
    width: 200px;
    height: 200px;
    }
}
